<h1>Vehicle <%= @vehicle.id %></h1>
<% if @driver %>
  Driver: <%= @driver.id %>
<% else %>
  <p>No driver assigned to theis vehicle</p>
<% end %>

<% if @vehicle.latitude && @vehicle.longitude %>
  <p>Coordinates: <%=@vehicle.latitude %>, <%= @vehicle.longitude %></p>
  <img src=<%= geo_image(@vehicle.latitude, @vehicle.longitude) %>><br>
<% else %>
  <p>No coordinates in the system :(</p>
<% end %>

<%= link_to "Back to the Index", vehicles_path %> <br/>
<%= link_to "Edit Vehicle #{@vehicle.id}", edit_vehicle_path(@vehicle) %><br/>
<%= link_to "Delete Vehicle #{@vehicle.id}", vehicle_path(@vehicle), :method => :delete, :confirm => "Do you really want to delete Vehicle #{@vehicle.id}?" %>
