<h1>New Driver</h1>

<%= form_for @driver do |f| %>
  <%= f.label :fname, 'First name' %>:
  <%= f.text_field :fname%><br />

  <%= f.label :lname, 'Last name' %>:
  <%= f.text_field :lname %><br />

  <%= f.submit %>
<% end %>
